@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Commit Mono';
    src: url('../fonts/CommitMono.woff2') format('woff2'),
         url('../fonts/CommitMono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.font-commit-mono {
    font-family: 'Commit Mono', sans-serif;
}
